{{> header }}
<div id="main" class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
   <article class="general-wrapper">
      <div class="title">
         <h3>About</h3>
      </div>
      <div class="desc">
         <p>Some Description</p>
      </div>
   </article>
   <article class="general-wrapper">
      <div class="title">
         <h3>Contact</h3>
      </div>
      <div class="desc">
         <p>Contact Information</p>
      </div>
   </article>
   <article class="general-wrapper">
      <div class="title">
         <h3>Work Experience</h3>
      </div>
      <div class="desc">
         <p>Some Description</p>
      </div>
   </article>
</div>
{{> footer }}
