{{#> layout }}
{{#*inline "subTitle"}}
<h2>My Blog</h2>
<a href="contact.html"><i class="icon-envelope"></i></a>
{{/inline}}
{{#each articles}}
<!-- Blog Post Start -->
<div class="col-md-12 blog-post">
    <div class="post-title">
        <a href="/{{ path }}"><h1>{{this.title}}</h1></a>
    </div>
    <div class="post-info">
        <span>{{moment date format="MMMM DD, YYYY" }} / by <a href="#" target="_blank">{{this.author.name}}</a></span>
    </div>
    <p>{{{this.excerpt}}}</p>
    <a href="/{{ path }}" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
</div>
<!-- Blog Post End -->
{{/each}}


<div class="col-md-12 text-center">
    <a href="javascript:void(0)" id="load-more-post" class="load-more-button">Load</a>
    <div id="post-end-message"></div>
</div>

{{/layout}}

