{{> header }}
<h2>What's new? </h2>
<div class="Posts">
  {{#each articles}}
    <div class="PostItem">
      <div class="PostItem-meta">
        {{moment date format="MMMM DD, YYYY" }} by {{this.author.name}}
      </div>
      <div class="PostItem-title">
        <h3>{{this.title}}</h3>
      </div>
      <div class="PostItem-excerpts">
        {{{this.excerpt}}}
      </div>
      <div class="PostItem-footer">
        <a href="/{{ path }}">Read more</a>
      </div>
    </div>
  {{/each}}
</div>
{{> footer }}
