@import "neat";

.Articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Article {

  &-meta, &-date {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 14px;
    color: #777;
  }
  &-content {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    @include grid-media($desktop-grid){
      font-size: 20px;
    }
  }
  &-title {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 55px;
    font-weight: 400;
  }
  @include grid-media($desktop-grid){
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 50px;
    padding-right: 20px;

    &-meta {
      color: #777;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

}
