@import "neat";
$me-widht: 50px;
.Header {
  background-color: #f5f5f5;
  overflow: auto;

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 map-get($neat-grid, gutter);
  }
  &-title {
    flex: 0 1 100%;
  }
  &-me {
    width: $me-widht;
    padding-right: map-get($neat-grid, gutter);
  }
  &-me img {

    width: $me-widht;
  }
  &-description {
    flex: 0 1 calc(100% - #{$me-widht} - #{2 * map-get($neat-grid, gutter)});
  }

  @include grid-media($desktop-grid){
    @include grid-column(2);
    height: 100%;
    position: fixed;
    margin-left: 0px;
    padding-top: 36px;
    &-title, &-me, &-description {
      @include grid-column(12);
    }
    &-me img {
      width: 100%;
    }
  }
}
