@import "neat";

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: black !important;
  font-size: 20px !important;
  background-color: white;
  font-style: normal !important;
  letter-spacing:0.3px;
  font-weight: 400 !important;
  line-height: 26px !important;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  position: relative;
  padding: 10px 0 10px 0;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

h1{
  font-size: 40px;
  line-height: 40px;
}
h2{
  font-size: 36px;
}
h3{
  font-size: 26px;
}
h4{
  font-size: 16px;
}
h5{
  font-size: 14px;
}
h6{
  font-size: 13px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
  color:#212121 !important;
  text-decoration:none !important;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover{
  color:#fff !important;
}
a {
  color: #aa0505;
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-transition: background-color .2s linear, color .2s linear;
  -moz-transition: background-color .2s linear, color .2s linear;
  -o-transition: background-color .2s linear, color .2s linear;
  -ms-transition: background-color .2s linear, color .2s linear;
  transition: background-color .2s linear, color .2s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#686868;
}
a.readmore {
  display:block;
  font-style:italic;
}

.Blog {
  @include grid-container;

}

.Content {
  padding-top: 72px;
  @include grid-shift(2);
  @include grid-column(10);
}
